body {
    background-color: lightslategray;
    margin: 0;
}

.container {
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.odd-group {
    display: flex;
    flex-direction: row;
}

.even-group {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
}

.box {
    width: 60px;
    height: 60px;
}

.black {
    background-color: #3d3736;
}

.white {
    background-color: #f6eeec;
}