body {
    background-color: #e1e1e1;
    margin: 0;
}

.container {
    display: flex;
    height: 800px;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.odd-group {
    display: flex;
    flex-direction: row;
}

.even-group {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
}

.box {
    width: 60px;
    height: 60px;
}

.black {
    background-color: lightblue;
}

.white {
    background-color: beige;
}